@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

::selection{
    background: #9929DC;
    color: #fff;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: 0 0 15px #000;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo{
    position: absolute;
    top: 20px;
}

nav ul{
    position: absolute;
    top: 40px;
    right: 0;
}

nav li{
    display: inline-block;
}

nav a{
    margin: 0 0 0 1em;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover{
    text-shadow: 0 0 0.5px #9929DC;
    color: #9929DC;
}

/* ------ HOME ------ */

.home-busca{
    margin: 100px 0 0 0;
    background: url("../img/banner.jpg");
    background-size: 100%;
    text-align: center;
    padding: 100px;
}

.tipografia{
    width: 80%;
    margin:  0 0 2em 0;
}

.home-busca select{
    display: block;
    width: 100%;
    padding: 1em 2em;
    margin: 2em auto;
    border-radius: 5px;
    color: #888;
}

.botao-buscar{
    padding: 0.75em 1.5em;
    background: #9929DC;
    box-shadow: 0 0 15px #000;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.botao-buscar:hover{
    transform: scale(1.05);
}

/* PRINCIPAL */

.principal{
    padding: 4em 0;
    background: #fefefe;
}

.titulo-principal{
    margin: 1em 0 2em 0;
    text-align: center;
    text-shadow: 0 0 2px #000;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
}

.titulo-secundario{
    margin: 0 0 1em 0;
    text-shadow: 0 0 1px #000;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bolder;
    color: #333;
}

.subtitulo{
    font-size: 1.1em;
    color: #888;
}

.paragrafo-principal{
    margin: 0 0 1.5em 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.paragrafo-padrao{
    margin: 1em 0;
    font-size: 1.1em;
    line-height: 1.2em;
}

.principal ul{
    margin: 1em auto 0;
    text-align: center;
}

.principal li{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 2em 1.5%;
}

.fundo-itens{
    margin: 1.5em auto;
    padding: 20px;
    width: 30px;
    height: 30px;
    background: #9929DC;
    border-radius: 50px;
    transition: 0.25s;
    box-shadow: 0 0 15px #000;
}

.fundo-itens:hover{
    color: #000;
    transform: scale(1.1);
}

.itens img{
    width: 30px;
}

/* MISSÃO */

.missao{
    padding: 4em 0;
    background: #eee;
}

.conteudo{
    display: inline-block;
    margin: 50px 0;
    vertical-align: top;
    width: 50%;
}

.imagem-missao{
    display: inline-block;
    margin: 0 0 0 10%;
    width: 40%;
    box-shadow: 0 0 15px #000;
    border-radius: 25px;
}

.valores{
    padding: 4em 0;
    background: #fefefe;
}

.imagem-valores{
    display: inline-block;
    margin: 0 10% 0 0;
    width: 40%;
    box-shadow: 0 0 15px #000;
    border-radius: 25px;
}

.lista-beneficios{
    margin: 3em 0 0;
    line-height: 2em;
}

.lista-beneficios li{
    font-size: 1em;
}

.lista-beneficios li::before{
    content: "✓ ";
    color: #9929DC;
    font-size: 1.2em;
    font-weight: bolder;
}

/* EMPRESAS */

.empresas{
    padding: 4em 0;
    background: url("../img/banner2.jpg");
    background-size: 100%;
}

.lista-empresas{
    text-align: center;
}

.lista-empresas li{
    display: inline-block;
}

.imagem-empresa{
    width: 50%;
}

/* PLANOS */

.planos{
    padding: 4em 0;
    background: #fefefe;
}

.lista-planos{
    text-align: center;
}

.lista-planos li{
    display: inline-block;
    border-radius: 15px;
    /*margin: 0 1.5em;*/
    padding: 1em;
    width: 25%;
    transition: 0.5s;
}

.lista-planos li:hover{
    transform: scale(1.1);
}

.preco-plano{
    margin: 2em 0;
    color: #888;
    font-size: 1.1em;
    line-height: 1.2em;
}

.plano-basico{
    vertical-align: top;
    margin: 12px 1.5em;
    border: 4px solid #888;
}

.plano-basico div{
    padding: 1em;
    border-bottom: 1px dotted #888;
}

.preco-plano em{
    margin: 1em 0;
    color: #000;
    font-size: 2em;
    line-height: 1.2em;
}

.assinar-plano-basico{
    padding: 0.5em 1em;
    margin: 2em 0 1em;
    background: #888;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s;
}

.assinar-plano-basico:hover{
    transform: scale(1.05);
}

.plano-premium{
    margin: 0 1.5em;
    border: 4px solid #9929DC;
}

.plano-premium div{
    padding: 1em;
    border-bottom: 1px dotted #888;
}

.assinar-plano-premium{
    padding: 0.5em 1em;
    margin: 2em 0 1em;
    background: #9929DC;
    /*box-shadow: 0 0 15px #000;*/
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.assinar-plano-premium:hover{
    transform: scale(1.1);
}

/* CONTATO */

.contato{
    padding: 4em 0;
    background: #444;
}

.titulo-principal-branco{
    margin: 0 0 2em 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 2px #000;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
}

.titulo-secundario-branco{
    margin: 4em 0 1em 0;
    color: #fff;
    text-shadow: 0 0 1px #000;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bolder;
}

.paragrafo-padrao-branco{
    margin: 1em 0;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.3em;
}

.input-padrao{
    display: block;
    width: 100%;
    padding: 1em 2em;
    margin: 2em 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #444;
    color: #fff;
}

.input-padrao:focus{
    outline: none;
    background: #333;
    border: 2px solid #9929DC;
    color: #fff;
}

form{
    display: inline-block;
    width: 40%;
}

.imagem-branco{
    margin: 0 0 0 20%;
    width: 40%;
    opacity: 0.25;
}

/* FOOTER */

footer{
    padding: 1em;
    background: #333;
    text-align: center;
}

.imagem-voltar{
    width: 30px;
    margin: 0 0 1em 0;
    opacity: 0.5;
    transition: 0.2s;
}

.imagem-voltar:hover{
    transform: scale(1.2);
    opacity: 1;
}

.copyright{
    color: #888;
}