@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

::selection{
    background: #9929DC;
    color: #fff;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 1.5em 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px #000;
}

.box{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo{
    width: 150px;;
    top: 20px;
}

nav ul{
    position: absolute;
    top: 5px;
    right: 0;
}

nav li{
    display: inline-block;
}

nav a{
    margin: 0 0 0 1em;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover{
    text-shadow: 0 0 0.5px #9929DC;
    color: #9929DC;
}

/* ------ HOME ------ */

.home-search{
    background: url("../img/banner2.png");
    text-align: center;
    padding: 150px 0 100px 0;
}

.home-search select{
    display: block;
    width: 100%;
    padding: 1em 2em;
    margin: 2em auto;
    border-radius: 5px;
    color: #888;
}

.button-search{
    padding: 0.75em 1.5em;
    background: #9929DC;
    box-shadow: 0 0 15px #000;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.button-search:hover{
    transform: scale(1.05);
}

/* PRINCIPAL */

.principal{
    padding: 4em 0;
    background: #fefefe;
}

.title-principal{
    margin: 1em 0 2em 0;
    text-align: center;
    text-shadow: 0 0 2px #000;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
}

.title-principal::before{
	content: "- ";
}

.title-principal::after{
	content: " -";
}

.title-secondary{
    margin: 0 0 1em 0;
    text-shadow: 0 0 1px #000;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bolder;
    color: #333;
}

.subtitle{
    font-size: 1.1em;
    color: #888;
}

.text-principal{
    margin: 0 0 1.5em 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.text-default{
    margin: 1em 0;
    font-size: 1.1em;
    line-height: 1.2em;
}

.principal ul{
    margin: 1em auto 0;
    text-align: center;
}

.items{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 2em 1.5%;
}

.background-items{
    margin: 1.5em auto;
    padding: 20px;
    width: 30px;
    height: 30px;
    background: #9929DC;
    border-radius: 50px;
    transition: 0.25s;
    box-shadow: 0 0 15px #000;
}

.background-items:hover{
    color: #000;
    transform: scale(1.1);
}

.items img{
    width: 30px;
}

/* MISSÃO */

.mission{
    padding: 4em 0;
    background: #eee;
}

.content{
    display: inline-block;
    margin: 50px 0;
    vertical-align: top;
    width: 50%;
}

.list-benefits{
    margin: 3em 0 0;
    line-height: 2em;
}

.list-benefits li{
    font-size: 1em;
}

.list-benefits li::before{
    content: "✓ ";
    color: #9929DC;
    font-size: 1.2em;
    font-weight: bolder;
}

.image-mission{
    display: inline-block;
    margin: 0 0 0 10%;
    width: 40%;
    box-shadow: 0 0 5px #000;
    border-radius: 15px;
}

.image-values{
    display: inline-block;
    margin: 0 10% 0 0;
    width: 40%;
    box-shadow: 0 0 5px #000;
    border-radius: 15px;
}

.values{
    padding: 4em 0;
    background: #fefefe;
}

/* EMPRESAS */

.enterprises{
    padding: 4em 0;
    background: linear-gradient(45deg, #28003e, #7611b1, #ba5af1, #e2b0ff);
}

.list-enterprises{
    text-align: center;
}

.list-enterprises li{
    display: inline-block;
}

.image-enterprises{
    width: 50%;
}

/* PLANOS */

.plans{
    padding: 4em 0;
    background: #fefefe;
}

.list-plans{
    text-align: center;
}

.list-plans li{
    display: inline-block;
    border-radius: 15px;
    /*margin: 0 1.5em;*/
    padding: 1em;
    width: 25%;
    transition: 0.5s;
}

.list-plans li:hover{
    transform: scale(1.1);
}

.price-plan{
    margin: 2em 0;
    color: #888;
    font-size: 1.1em;
    line-height: 1.2em;
}

.basic-plan{
    vertical-align: top;
    margin: 12px 1.5em;
    border: 4px solid #888;
}

.basic-plan div{
    padding: 1em;
    border-bottom: 1px dotted #888;
}

.price-plan em{
    margin: 1em 0;
    color: #000;
    font-size: 2em;
    line-height: 1.2em;
}

.get-basic-plan{
    padding: 0.5em 1em;
    margin: 2em 0 1em;
    background: #888;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s;
}

.get-basic-plan:hover{
    transform: scale(1.05);
}

.premium-plan{
    margin: 0 1.5em;
    border: 4px solid #9929DC;
}

.premium-plan div{
    padding: 1em;
    border-bottom: 1px dotted #888;
}

.get-premium-plan{
    padding: 0.5em 1em;
    margin: 2em 0 1em;
    background: #9929DC;
    /*box-shadow: 0 0 15px #000;*/
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.get-premium-plan:hover{
    transform: scale(1.1);
}

/* CONTATO */

.contact{
    padding: 4em 0;
    background: #444;
}

.title-principal-contact{
    margin: 0 0 2em 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 2px #000;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
}

.title-principal-contact::before{
	content: "- ";
    color: #fff;
}

.title-principal-contact::after{
	content: " -";
    color: #fff;
}

.title-secondary-contact{
    margin: 4em 0 1em 0;
    color: #fff;
    text-shadow: 0 0 1px #000;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bolder;
}

.text-default-contact{
    margin: 1em 0;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.3em;
}

.input-default{
    display: block;
    width: 100%;
    padding: 1em 2em;
    margin: 2em 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #444;
    color: #fff;
}

.input-default:focus{
    outline: none;
    background: #333;
    border: 2px solid #9929DC;
    color: #fff;
}

form{
    display: inline-block;
    width: 40%;
}

.image-email{
    margin: 0 0 0 20%;
    width: 40%;
    opacity: 0.25;
}

/* FOOTER */

footer{
    padding: 1em;
    background: #333;
    text-align: center;
}

.image-back{
    width: 30px;
    margin: 0 0 1em 0;
    opacity: 0.5;
    transition: 0.2s;
}

.image-back:hover{
    transform: scale(1.2);
    opacity: 1;
}

.copyright{
    color: #888;
}

@media screen and (max-width: 480px) {
	.box{
		width: auto;
	}

    .logo{
        display: block;
        margin: 0 auto;
    }

    nav ul{
        display: flex;
        position: static;
        margin: 2em 0 0 0;
        justify-content: space-around;
    }

    form{
        width: 80%;
        margin: 0 auto;
    }

    .items{
        display: block;
        width: 80%;
        margin: 5em auto;
    }

    .content, .image-mission, .image-values{
        display: block;
        width: 100%;
        margin: 0;
    }

    .content{
        margin: 2em 0;
    }

    .list-enterprises li{
        margin: 2em;
    }

    .list-plans li{
        display: block;
        width: 80%;
        margin: 2em auto;
    }
}

@media screen and (max-width: 1080px) {
	.box{
		width: auto;
        padding: 0 2em;
	}

    form{
        width: 80%;
        margin: 0 auto;
    }

    .items{
        display: block;
        width: 80%;
        margin: 5em auto;
    }

    .content, .image-mission, .image-values{
        display: block;
        width: 100%;
        margin: 0;
    }

    .content{
        margin: 2em 0;
    }

    .list-enterprises li{
        margin: 2em;
    }

    .list-plans li{
        display: block;
        width: 80%;
        margin: 2em auto;
    }
}